{% extends "PidevFrontOfficeBundle::LoginUser.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
  {#   <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
      <div class="bg-danger"  >
        <strong>  {{ error.messageKey|trans(error.messageData, 'security') }}</strong>
        </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
   
    
 
  {#  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

#}   
  
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  
	<div class="form-text">
					<input type="text" class="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="username"  >
					<input type="password" id="password" name="_password" required="required" type="text" placeholder="mot de passe" >
	
                                        
                                        <div class="form-group">
<input type="checkbox" id="remember_me" name="_remember_me" checked />
<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
         
        </div>
        </div>

		<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" >
                       
                           <input type="hidden" name="_target_path" value="/indexR" />  

  
  
  
  {#
<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div class="form-group">
                       <label for="username" class="col-md-3 control-label">
                            Username:</label>
                        <div class="col-md-9">
                            <div class="input-icon right">
                                <i class="fa fa-user"></i>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">
                            Password:</label>
                        <div class="col-md-9">
                            <div class="input-icon right">
                                <i class="fa fa-lock"></i>
                                <input type="password" id="password" name="_password" required="required" type="text" placeholder="" class="form-control" /></div>
                        </div>
                    </div>
                        
                        <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                        
                        
                    <div class="form-group mbn">
                        <div class="col-lg-12" align="right">
                            <div class="form-group mbn">
                                <div class="col-lg-3">
                                    &nbsp;
                                </div>
                                <div class="col-lg-9">
                              <a href="{{asset('app_dev.php/register')}}" class="btn btn-default">S'inscrire</a>&nbsp;&nbsp;

                        
                           
                  <input type="hidden" name="_target_path" value="/indexR" />       
                
                              

 <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"  class="btn btn-default" />
                                


                               
                                        
                                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
              
</form>
  #}
{% endblock fos_user_content %}
