{# empty Twig template #}
{% extends "PidevBackOfficeBundle::EvenementAdmin.html.twig" %} 
{% block title %} liste des evenements {% endblock %}
{% block direction %}{{path('lister_evenement_b')}}{%endblock %}

{% block titre1 %}
                             {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <p>{{ message }}</p>
    </div>
{% endfor %}
{% endblock %}


{% block titreEvent %}
    {% for event in events %}
                    
  
 <tr class="tbl-item"><!--<img/>-->
     <td class="img">
    <img src="{{event.url}}" alt="" title=""  style="width:150px; height:150px;" />  </td>                                          
    <td class="td-block"><p class="date">du {{event.dateDebut|date('d/m/Y')}} au {{event.dateFin|date('d/m/Y')}}</p>
        <p class="title">{{ event.titre }} </p>
              <p class="desc">{{ event.description }} </p>
           <p class="like">{{event.type}}</p>
           
         <ul class="social-icons list-unstyled list-inline mbl mtl" style="text-align:right" >
            <li><a href="{{path('google_map_homepage',{'lieu':event.lieu})}}" data-hover="tooltip" data-original-title="localiser" class="facebook"><i class="fa fa-map-marker"></i></a></li> 
             <li><a href="{{path('details_evenement_b',{'id':event.id,'url':event.url})}}" data-hover="tooltip" data-original-title="Afficher Details" class="skype"><i class="fa fa-th-list"></i></a></li>
             <li><a href="{{path('supprimer_evenement_b',{'id':event.id})}}" data-hover="tooltip" data-original-title="Supprimer" class="googleplus" ><i class="fa fa-eraser"></i></a></li>
         </ul>
    </td>
 </tr>


                                            {% endfor %}
                                            {% endblock %}